---
import AffPanel from "../components/AffPanel.astro";
import Layout from "../layouts/Layout.astro";
import VirtuePanel from "../components/VirtuePanel.astro";
---

<Layout title="Virtues and afflictions">
  <div class="grid grid-cols-2 grid-rows-none gap-1 sm:gap-10 max-w-full w-[1400px]">
    <VirtuePanel />
    <AffPanel />
  </div>
</Layout>
