---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Radiant">
    <h1 class="text-radiant text-4xl font-gothic">
        In radiance may we find victory!
    </h1>
    <p class="max-w-full w-[800px]">
        Radiant is a helper page for Darkest Dungeon. It is a work in progress -
        it'll feature a tierlist of Butcher's Circus trinkets, curios within all
        of the regions and info about Virtues and Afflictions.
    </p>
</Layout>
