<div
  id="affinfo"
  class="rounded border-2 bg-black p-1 text-white absolute top-10 text-sm font-sans hidden z-40 w-72"
>
  Click for act-out attack effects.<br /> All Afflictions lower <span
    class="text-stun">Stun</span
  >, <span class="text-blight">Blight</span>, <span class="text-bleed"
    >Bleed</span
  >, <span class="text-debuff">Debuff</span>, and <span class="text-move"
    >Move</span
  > Resist by 15%. All self-attacks always deal 10% MAX HP. Actouts can't happen
  back to back (even with different heroes) or two times in a row for a given hero.
  All comments and act-out barks deal 6 stress to the party or the affected hero.
</div>
