<div class="bg-navbg w-full mb-2">
    <nav
        class="flex flex-row gap-5 text-radiant border-b-radiant border-b-2 backdrop-brightness-100 backdrop-blur-md p-5 font-bold text-xl w-full justify-center items-center flex-wrap shadow-black shadow-lg"
    >
        <span class="font-gothic text-[40px]">Radiant</span>
        <a href="/">Home</a>
        <a href="/breaks">Virtues and afflictions</a>
        <a href="/trinkets">Trinkets</a>
        <a href="/curio">Curios</a>
    </nav>
</div>
