@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "DwarvenAxe";
    font-display: optional;
    src: url("/fonts/DwarvenAxe.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: local("Lato Regular"), local("Lato-Regular"),
        url("/fonts/Lato-Regular.woff2") format("woff2"),
        url("/fonts/Lato-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
